html, body {
  margin: 0;
  padding: 0;
  background-color: yellow;

  text-align: center;
  text-decoration-color: pink;

}
main{
  position:absolute;

   right: 150px;


canvas {
  display: block;
}


}
main {
  position:absolute;
  top: 350px;
  left: 180px;
}